.card{
    width: 80%; 
    margin-top: 20px; 
    margin-left: 20px;
    margin-bottom: 30px;
    border: none !important; 
    
    
   
}
.card-header{
    background-color: #6943a1 !important;
    color: white;
    line-height: 20px;
    border-radius: 20px 20px 0px 0px !important;
    margin-top:50px;
    display:flex ;
    justify-content: center ;
    
    
}

li:last-child{
    border-radius: 0px 0px 20px 20px !important;
}

.list-group-item {
    line-height: 30px;
    
    
    
}

li:nth-child(2n+1){
    background-color: #E8E8E8 !important;
    display:flex ;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
    
}

li:nth-child(2n+0){
    background-color: #F5F5F5 !important;
    display:flex ;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
}

a{
    color: black !important;
    
}
a:link{
    text-decoration: none !important;
    
}

@media screen and (max-width: 700px)
{
    .card{
        width: 27.8em;
        display:flex;
        margin-left:0px;
    }
    li:nth-child(2n+1){
        background-color: #E8E8E8 !important;
        display:flex ;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        
        
    }
    
    li:nth-child(2n+0){
        background-color: #F5F5F5 !important;
        display:flex ;
        justify-content: center;
        align-items: center;
        align-content: center;
        
        
        
    }
}